/**
* [START] - ESTILOS GENERALES (*)
* --------------------------------------------------------------------- *
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/**
* [FIN] - PARTE DE LA INFO (INFO)
* --------------------------------------------------------------------- *
*/



/**
* [START] - PARTE DE LA INFO (INFO)
* --------------------------------------------------------------------- *
*/

.main .info {
    height: 625px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #040b14;
    color: #ffffff;
}

.main .info .logo {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
}

.main .info .logo img {
    height: 40px;
    width: 60px;
}

.main .info .logo h2 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

/**
* [FIN] - PARTE DE LA INFO (INFO)
* --------------------------------------------------------------------- *
*/



/**
* [START] - PARTE DEL PERFIL (PERFIL)
* --------------------------------------------------------------------- *
*/

.main .perfil {
    width: 250px;
    margin: 0px 25px;
    text-align: center;
}

.main .perfil img {
    height: 120px;
    width: 120px;
    margin: 30px 0px;
    border: 8px solid #1c2a3d;
    border-radius: 100%;
}

.main .perfil h1 {
    font-size: 25px;
}

.main .perfil p {
    margin-top: -10px;
}

.main .perfil .edit-perfil {
    position: absolute;
    margin-top: 132px;
    cursor: pointer;
}

.main .perfil .edit-perfil:hover {
    color: #1c2a3d;
    transition: 0.3s;
}

/**
* [FIN] - PARTE DEL PERFIL (PERFIL)
* --------------------------------------------------------------------- *
*/



/**
* [START] - PARTE DE LAS REDES (REDES)
* --------------------------------------------------------------------- *
*/

.main .info .social {
    width: 250px;
    margin: 0px 25px;
    text-align: center;
}

.main .info .social i {
    margin: 0px 5px;
    padding: 7px 0px;
    font-size: 15px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #1c2a3d;
    border-radius: 50%;
}

.main .info .social i:hover {
    color: #646464;
    transition: 0.3s;
}

/**
* [FIN] - PARTE DE LAS REDES (REDES)
* --------------------------------------------------------------------- *
*/



/**
* [START] - PARTE DE LA BARRA DE NAVEGACION (NAV-BAR)
* --------------------------------------------------------------------- *
*/

.main .nav-bar {
    width: 250px;
    margin: 0px 25px;
}

.main .nav-bar .nav-list {
    list-style: none;
    margin: 20px 0px 0px 13px;
}

.main .nav-bar .nav-list i {
    font-size: 25px;
    color: #1c2a3d;
    margin: 0px 10px 10px 0px;
}

.main .nav-bar .nav-list a {
    text-decoration: none;
    color: #ffffff;
}

.main .nav-bar .nav-list a:hover {
    color: #557cb3;
    transition: 0.6s;
}

.main .nav-bar .nav-list a:hover i {
    color: #ff0055;
    transition: 0.6s;
    margin-left: -10px;
}

/**
* [FIN] - PARTE DE LA BARRA DE NAVEGACION (NAV-BAR)
* --------------------------------------------------------------------- *
*/

/**
* [START] - BOTON DE LOGIN (LOGIN)
* --------------------------------------------------------------------- *
*/
.main .info .btn-success {
    background-color: #173b6c;
    border: none;
    margin: 20px 0px 0px 70px;
}

.main .info .btn-success:hover {
    background-color: #264de4;
    transition: 0.6s;
}

/**
* [FIN] - BOTON DE LOGIN (LOGIN)
* --------------------------------------------------------------------- *
*/



/**
* [START] - PARTE DEL BANNER (BANNER)
* --------------------------------------------------------------------- *
*/

.main .banner {
    position: relative;
    height: 625px;
    margin-left: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/bg-header.jpg);
    background-size: cover;
}

.main .banner .banner-titulo {
    position: absolute;
    top: 40%;
    left: 10%;
    color: #bebebe;
}

.main .banner .banner-titulo h1 {
    font-size: 50px;
}

.main .banner .banner-titulo p {
    font-size: 30px;
}

.main .banner .edit-banner {
    color: #ffffff;
    position: absolute;
    right: 0%;
    margin: 30px;
    cursor: pointer;
}

.main .banner .edit-banner:hover {
    color: #1c2a3d;
    transition: 0.3s;
}

/**
* [FIN] - PARTE DEL BANNER (BANNER)
* --------------------------------------------------------------------- *
*/



/**
* [START] - SECCION SOBRE MI (ACERCA DE)
* --------------------------------------------------------------------- *
*/

.contenedor {
    margin-left: 300px;
}

.contenedor .sobremi .sobremi-titulo {
    position: relative;
}

.contenedor .sobremi .sobremi-titulo h2 {
    font-size: 30px;
    font-weight: bold;
    color: #173b6c;
    margin: 50px 20px 30px 0px;
}

.contenedor .sobremi .sobremi-titulo h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background-color: aqua;
}

.contenedor .sobremi .sobremi-titulo p {
    line-height: 20px;
}

.contenedor .sobremi .sobremi-titulo .edit-sobre {
    color: #000000;
    position: absolute;
    right: 0%;
    margin: 25px;
    cursor: pointer;
}

.contenedor .sobremi .sobremi-titulo .edit-sobre:hover {
    color: #ff0055;
    transition: 0.6s;
}

.contenedor .sobremi .sobre-info {
    margin: 50px 0px;
}

.contenedor .sobremi .row .col-lg-4 {
    text-align: center;
}

.contenedor .sobremi .row .col-lg-8 {
    position: relative;
}

.contenedor .sobremi .row .col-lg-8 .edit-datos {
    position: absolute;
    margin: 14px 0px 0px 500px;
}

.contenedor .sobremi .row .col-lg-8 h2 {
    color: #173b6c;
}

.contenedor .sobremi .row .col-lg-6 .datos {
    list-style: none;
    margin-left: -33px;
}

.contenedor .sobremi .row .col-lg-6 .datos li {
    margin: 0px 0px 30px 0px;
}

.contenedor .sobremi .row .col-lg-6 .datos li i {
    color: #173b6c;
}

.contenedor .sobremi .row .col-lg-6 .datos li span {
    margin-left: 10px;
}

/**
* [FIN] - SECCION SOBRE MI (ACERCA DE)
* --------------------------------------------------------------------- *
*/



/**
* [START] - SECCION DE EDUCACION Y EXPERIENCIA (EDU-EXP)
* --------------------------------------------------------------------- *
*/


.contenedor .edu-exp {
    margin-top: 100px;
}

.contenedor .edu-exp .col-lg-6 {
    position: relative;
}

.contenedor .edu-exp .col-lg-6 .edit-edu-exp {
    position: absolute;
    right: 0;
    margin: 18px 20px 0px 0px;
    font-size: 20px;
    cursor: pointer;
}

.contenedor .edu-exp .col-lg-6 .edit-edu-exp:hover {
    color: #ff0055;
    transition: 0.6s;
}

.contenedor .edu-exp .col-lg-6 h2 {
    font-size: 30px;
    font-weight: bold;
    color: #173b6c;
}

.contenedor .edu-exp .educacion-exp {
    margin-bottom: 50px;
    position: relative;
}

.contenedor .edu-exp .educacion-exp .botones-edit {
    position: absolute;
    right: 0;
    margin: 0px 5px 0px 0px;
    font-size: 15px;
}

.contenedor .edu-exp .educacion-exp .botones-edit span > i {
    margin-right: 5px;
    cursor: pointer;
}

.contenedor .edu-exp .educacion-exp .botones-edit span > i:hover {
    color: #ff0055;
    transition: 0.6s;
}

.contenedor .edu-exp .col-lg-6 .educacion-exp h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.contenedor .edu-exp .col-lg-6 .educacion-exp h4 {
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

.contenedor .edu-exp .col-lg-6 .educacion-exp h5 {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px 5px 5px;
    background-color: #dddddd;
}

.contenedor .edu-exp .col-lg-6 .educacion-exp p {
    line-height: 20px;
    margin-top: 20px;
}

/**
* [FIN] - SECCION DE EDUCACION Y EXPERIENCIA (EDU-EXP)
* --------------------------------------------------------------------- *
*/



/**
* [START] - SECCION DE HABILIDADES (SKILLS)
* --------------------------------------------------------------------- *
*/

.contenedor .habilidades {
    margin-top: 100px;
}

.contenedor .habilidades .skills-titulo h2 {
    font-size: 30px;
    font-weight: bold;
    color: #173b6c;
    margin: 50px 20px 30px 0px;
}

.contenedor .habilidades .skills-titulo h2::after {
    content: "";
    display: block;
    width: 120px;
    height: 5px;
    background-color: aqua;
}

.contenedor .habilidades .skills-progreso .col-md-12 {
    position: relative;
}

.contenedor .habilidades .skills-progreso .col-md-12 .edit-skills {
    position: absolute;
    margin: 16px 0px 0px 313px;
    font-size: 15px;
}

.contenedor .habilidades .skills-progreso .col-md-12 span > i {
    cursor: pointer;
}

.contenedor .habilidades .skills-progreso .col-md-12 span > i:hover {
    color: #ff0055;
    transition: 0.6s;
}

.contenedor .habilidades .skills-progreso .progress{
    height: 5px;
    box-shadow: none;
    line-height: 35px;
    background:#d6d6d6;
}


.contenedor .habilidades .skills-progreso .progressbar-title{
    color: #173b6c;
    font-size:15px;
    margin:5px 0 5px;
}

.contenedor .habilidades .skills-progreso .progressbar-value{
    float: right;
    display:block;
}


@-webkit-keyframes progress{
    0% { width: 0%;}
}
@keyframes progress{
    0% { width:0%; }
}

/**
* [FIN] - SECCION DE HABILIDADES (SKILLS)
* --------------------------------------------------------------------- *
*/



/**
* [START] - ICONOS DE LA SECCION DE LA HABILIDADES   
* --------------------------------------------------------------------- *
*/


.contenedor .habilidades .skills-progreso .skill-icon {
    margin: 10px 0px -10px 0px;
}

.contenedor .habilidades .skills-progreso .skill-icon .html {
    font-size: 20px;
    color: #ff6600;
}

.contenedor .habilidades .skills-progreso .skill-icon .css {
    font-size: 20px;
    color: #264de4;
}

.contenedor .habilidades .skills-progreso .skill-icon .javascript {
    font-size: 20px;
    color: #ffdd00;
}

.contenedor .habilidades .skills-progreso .skill-icon .bootstrap {
    font-size: 20px;
    color: #563d7c;
}

.contenedor .habilidades .skills-progreso .skill-icon .angular {
    font-size: 20px;
    color: #dd1b16;
}


/**
* [FIN] - ICONOS DE LA SECCION DE LA HABILIDADES   
* --------------------------------------------------------------------- *
*/



/**
* [START] - BARRAS DE PROGRESO DE LA SECCION DE LA HABILIDADES
* --------------------------------------------------------------------- *
*/



.contenedor .habilidades .skills-progreso .progress .html-color {
        background-color: #ff6600;
    }

.contenedor .habilidades .skills-progreso .progress .css-color {
    background-color: #264de4;
}

.contenedor .habilidades .skills-progreso .progress .javascript-color {
    background-color: #ffdd00;
}

.contenedor .habilidades .skills-progreso .progress .bootstrap-color {
    background-color: #563d7c;
}

.contenedor .habilidades .skills-progreso .progress .angular-color {
    background-color: #dd1b16;
}


/**
* [FIN] - BARRAS DE PROGRESO DE LA SECCION DE LA HABILIDADES
* --------------------------------------------------------------------- *
*/



/**
* [START] - SECCION DE LOS PROYECTOS CREADOS (PORTFOLIO)
* --------------------------------------------------------------------- *
*/

.contenedor .proyecto {
    margin-top: 100px;
}

.contenedor .proyecto .proyecto-titulo h2 {
    font-size: 30px;
    font-weight: bold;
    color: #173b6c;
    margin: 50px 20px 30px 0px;
}

.contenedor .proyecto .proyecto-titulo h2::after {
    content: "";
    display: block;
    width: 120px;
    height: 5px;
    background-color: aqua;
}

.contenedor .proyecto .proyecto-contenido img {
    height: 250px;
    width: 100%;
}

.contenedor .proyecto .proyecto-contenido .btn {
    background-color: #dd1b16;
    border: none;
}

/**
* [FIN] - SECCION DE LOS PROYECTOS CREADOS (PORTFOLIO)
* --------------------------------------------------------------------- *
*/
